.arrow {
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border: 0.3rem solid rgb(var(--main-color));
  border-radius: 50%;
  color: rgb(var(--main-color));
  background-color: rgb(var(--match-color));
  z-index: 9;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgb(var(--main-color));
  color: rgb(var(--match-color));
}
