.left_arrow {
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--match-color);
  z-index: 9;
  cursor: pointer;
}

.left_arrow:hover {
  background-color: var(--main-color);
  color: var(--match-color);
}

.right_arrow {
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--match-color);
  z-index: 9;
  cursor: pointer;
}

.right_arrow:hover {
  background-color: var(--main-color);
  color: var(--match-color);
}
