:root {
  --main-color: rgb(173, 216, 230);
  --match-color: rgb(255, 255, 255);
  --disabled-color: rgb(193, 216, 221);
  --cancel-color: rgb(205, 85, 85);
  --drag-list-max-width: 111rem;
  --drag-list-mid-width: calc(84rem + 72px);
  --drag-list-min-width: calc(63rem + 54px);
  --drag-container-max-width: 63rem;
  --drag-container-mid-width: calc(60rem + 48px);
  --drag-container-min-width: calc(63rem + 54px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  animation: appear 1s linear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
