:root {
  --main-color: 173, 216, 230;
  --match-color: 255, 255, 255;
  --event-color: 255, 204, 213;
  --disabled-color: 193, 216, 221;
  --event-disabled-color: 255, 220, 230;
  --cancel-color: 205, 85, 85;
  --drag-list-max-width: 111rem;
  --drag-list-mid-width: calc(84rem + 72px);
  --drag-list-min-width: calc(63rem + 54px);
  --drag-container-max-width: 63rem;
  --drag-container-mid-width: calc(60rem + 48px);
  --drag-container-min-width: calc(63rem + 54px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  animation: appear 1s linear forwards;
  overflow-x: hidden;
}

.scroll_container {
  height: 100vh;
  overflow-y: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
